<!-- Page Content -->
<div class="container">
<div class="row">
   <div class="col-lg-8 col-lg-push-2 text-center vertical-center jumbotron test">
      <h1 class=" fancy-text">Create a New Pet</h1>
      <p></p>
      <!-- Default panel contents -->
      <form method="post" action="/pets/new" class="form-horizontal">
         <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name:</label>
            <div class="col-md-4">
               <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">
            </div>
         </div>
         <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="breed">Breed:</label>
            <div class="col-md-4">
               <input id="breed" name="breed" type="text" placeholder="" class="form-control input-md" required="">
            </div>
         </div>
         <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="bio">Bio:</label>
            <div class="col-md-4">
               <textarea class="form-control" id="bio" name="bio"></textarea>
            </div>
         </div>
         <!-- Appended Input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="price">Price:</label>
            <div class="col-md-2">
               <div class="input-group">
                  <input id="price" name="price" class="form-control" placeholder="" type="text" required="">
                  <span class="input-group-addon">$</span>
               </div>
            </div>
         </div>
         <!-- Multiple Radios (inline) -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="adoptable">Adoptable?</label>
            <div class="col-md-4">
               <label class="radio-inline" for="adoptable-0">
               <input type="radio" name="adoptable" id="adoptable-0" value="1" checked="checked">
               Yes
               </label>
               <label class="radio-inline" for="adoptable-1">
               <input type="radio" name="adoptable" id="adoptable-1" value="2">
               No
               </label>
            </div>
         </div>
         <!-- Button -->
         <div class="form-group">
            <div class="col-md-4">
               <input type="submit" class="btn btn-default" value="Create"/>
            </div>
         </div>
      </form>
   </div>
   <!-- /.row -->
</div>
